# tuples

In [1]:
# create a tuples

a = ("disco",1,11.44)
a

('disco', 1, 11.44)

In [2]:
# print they type of tuples

type(a)

tuple

## Indexing

In [3]:
# print every variable in tuples

print(a[0])
print(a[1])
print(a[2])

disco
1
11.44

In [4]:
# print type of value in each variable

print(type(a[0]))
print(type(a[1]))
print(type(a[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# use negative index to get variable

print(a[-1])
print(a[-2])
print(a[-3])

11.44
1
disco

<h3 id="concate">Concatenate Tuples</h3>

In [6]:
# Concatenate two tuples

b = a + ("rock", 10,12)
b

('disco', 1, 11.44, 'rock', 10, 12)

# slicing

In [7]:
# use Slice
b[1:4]

(1, 11.44, 'rock')

In [8]:
# GET lenth of tiuples

len(b)

6

## shorting

In [15]:
# A sample tuple

ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

# shorting truple

Rating_sorted = sorted(ratings)
print(Rating_sorted)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

## nesting

In [2]:
# create a nested tuple

nestedT = (1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [3]:
# print each element on index

print("Element 0 of Tuple: ", nestedT[0])
print("Element 1 of Tuple: ", nestedT[1])
print("Element 2 of Tuple: ", nestedT[2])
print("Element 3 of Tuple: ", nestedT[3])
print("Element 4 of Tuple: ", nestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [4]:
print("Element 2, 0 of Tuple: ",   nestedT[2][0])
print("Element 2, 1 of Tuple: ",   nestedT[2][1])
print("Element 3, 0 of Tuple: ",   nestedT[3][0])
print("Element 3, 1 of Tuple: ",   nestedT[3][1])
print("Element 4, 0 of Tuple: ",   nestedT[4][0])
print("Element 4, 1 of Tuple: ",   nestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [7]:
#  print element from second nested tuple

print(nestedT[4][1][0])
print(nestedT[4][1][1])

1
2

In [10]:
print(nestedT[2][1][0])
print(nestedT[2][1][1])
print(nestedT[2][1][2])
print(nestedT[2][1][3])

r
o
c
k