# Loops in Python

In [1]:
# use the range

range(3)

range(0, 3)

## for Loop

In [3]:
# for loop example

dates = [1984, 1985, 1988, 1984]
N = len(dates)

for i in range(N):
  print(dates[i])

1984
1985
1988
1984

In [4]:
# example of for loop

for i in range(0, 8):
  print(i)

0
1
2
3
4
5
6
7

In [5]:
# example of for loop, loop through list

for year in dates:
  print(year)

1984
1985
1988
1984

In [14]:
 # Use the loop to change the element in list

squares = ["red", "yello", 'green', 'purple', 'blue']

for i in range(5):
  print("Before squares ", i, 'is', squares[i])
  squares[i] = 'white'
  print("After squares ", i , 'is', squares[i])

Before squares  0 is red
After squares  0 is white
Before squares  1 is yello
After squares  1 is white
Before squares  2 is green
After squares  2 is white
Before squares  3 is purple
After squares  3 is white
Before squares  4 is blue
After squares  4 is white

In [15]:
# loop through the list and interate on both index andelement value

squares = ["red", "yello", 'green', 'purple', 'blue']

for i, squire in enumerate(squares):
  print(i, squire)

0 red
1 yello
2 green
3 purple
4 blue


## while loop

In [19]:
# while loop example

dates = [1974, 1984, 1973, 1945]

i = 0
year = dates[0]

while (year != 1973):
  print(year)
  i += 1
  year = dates[i]
print("It took ", i , 'repetitions to get out of loop')

1974
1984
It took  2 repetitions to get out of loop